<h1>Editing problem</h1>

<!-- <%= render 'form', problem: @problem %> -->

<div class="ad_footerbanner" id="ad_footerbanner3">
<style type="text/css">
#inputWrap{float:left;width:38%}
#inputText{background:#ffffef;width:100%}
#outputWrap{float:right;width:61%}
#output{background:#ffffef;text-align:left;padding:6px;border:solid 1px #ccc;-moz-border-radius:5px;border-radius:5px}
.anniu{font-family:"Tahoma"}
</style>

<div id="inputWrap">
<!-- <textarea id="inputText" rows="15">

</textarea> -->

<%= form_for @problem, url: {action: "update"} do |f| %>
  <%= f.text_area :problem_text, id: "inputText", rows: 10, style: "width:100%" %>
  <%= f.file_field  :image_url, :id => "uploaded_images", accept: 'image/png,image/jpeg', :multiple => true%>

  <%= f.hidden_field  :answers_count, :id => "answers_count" %>

  <div id="problem_answers">
  <% if @problem.answers %>
  <strong>Answers:</strong>
  <% index = 1 %>
  <% @problem.answers.each do |answer| %>
  <div class="choiceForm">
      <%= label_tag "Answer_" + index.to_s + ":" %>
      <%= text_area_tag "answers_" + index.to_s, answer.answer_text, rows: 5, style: "width:90%", id: "answers_text_" + index.to_s %>
      <%= link_to "X", "#", :onclick => "removeChoice($(this)) && doPreview()", :class => "remove-choice", :id => "X_" + index.to_s %>
      <!-- <%= link_to "X", "", :onclick => "removeChoice($(this)) && doPreview()", :class => "remove-choice", :id => "X_" + index.to_s %> -->
      <%= label_tag "Answer_" + index.to_s + "_Images:" %>
      <%= file_field_tag  "answer_image_url_" + index.to_s, :id => "uploaded_answer_images_" + index.to_s, accept: 'image/png,image/jpeg', :multiple => true%>

      <% index = index + 1 %>
  </div>
  <% end %>
  <% end %>

  </div>
  <a href="javascript:;" id="addNewAnswer">Add New Answer</a>

  <div>
    <button name="ztyl" type="button" class="anniu" onclick="ylqh()">暂停预览</button>
    <button type="button" class="anniu" onclick="clearinputText()"> 清空 </button>
    <!-- <input type="button" id="ztyl" value="暂停预览" onclick="ylqh()" />
    <input type="button" value="清空" onclick="clearinputText()" /> -->
  </div>

  <%= f.submit "Update" %>
<% end %>

<br />
<button type="button" class="anniu" onclick="chaback('$  $',2)" >行内公式
</button><button type="button" class="anniu" onclick="chaback('\\[  \\]',3)" >行间公式
</button><button type="button" class="anniu" onclick="chaback('\\begin{align*}\n\n\\end{align*}',13)" >align*环境
</button><button type="button" class="anniu" onclick="chaback('\\begin{gather*}\n\n\\end{gather*}',14)" >gather*环境
</button><button type="button" class="anniu" onclick="chaback('\\begin{cases}\n\n\\end{cases}',12)" >cases环境
</button><button type="button" class="anniu" onclick="chaback('\\frac{}{}',3)" >分式
</button><button type="button" class="anniu" onclick="chaback('\\dfrac{}{}',3)" >d分式
</button><button type="button" class="anniu" onclick="chaback('\\sqrt{}',1)" >根号
</button><button type="button" class="anniu" onclick="chaback('\\sqrt[]{}',3)" >n次方根
</button><!--<button type="button" class="anniu" onclick="cha('\\sum ')" >∑
</button><button type="button" class="anniu" onclick="cha('\\prod ')" >∏
</button><button type="button" class="anniu" onclick="chaback('\\left(  \\right)',8)" >( )
</button><button type="button" class="anniu" onclick="chaback('\\left[  \\right]',8)" >[ ]
</button><button type="button" class="anniu" onclick="chaback('\\left\\{  \\right\\}',9)" >{ }
</button><button type="button" class="anniu" onclick="chaback('\\left|  \\right|',8)" >| |
</button><button type="button" class="anniu" onclick="cha('\\iff ')" >&lt;==&gt;
</button><button type="button" class="anniu" onclick="cha('\\riff ')" >==&gt;
</button><button type="button" class="anniu" onclick="cha('\\liff ')" >&lt;==
</button>--><button type="button" class="anniu" onclick="cha('\\geqslant ')" >≥
</button><button type="button" class="anniu" onclick="cha('\\leqslant ')" >≤
</button><button type="button" class="anniu" onclick="chaback('\\lim_{x\\to }',1)" >极限
</button><button type="button" class="anniu" onclick="cha('\\infty ')" >∞
</button><button type="button" class="anniu" onclick="chaback('\\int \\rmd{x}',7)" >积分
</button><!--<button type="button" class="anniu" onclick="cha('f(x)')" >f(x)
</button><button type="button" class="anniu" onclick=cha("f'(x)") >f '(x)
</button><button type="button" class="anniu" onclick=cha("f''(x)") >f ''(x)
</button>--><button type="button" class="anniu" onclick="cha('\\times ')" >×
</button><button type="button" class="anniu" onclick="cha('\\cdot ')" >·
</button><button type="button" class="anniu" onclick="cha('\\cdots ')" >…
</button><!--<button type="button" class="anniu" onclick="cha('\\ldots ')" >...
</button><button type="button" class="anniu" onclick="cha('\\div ')" >÷
</button><button type="button" class="anniu" onclick="cha('\\equiv ')" >≡
</button><button type="button" class="anniu" onclick="chaback('\\pmod{}',1)" >(mod )
</button><button type="button" class="anniu" onclick="cha('\\approx ')" >≈
</button>--><button type="button" class="anniu" onclick="cha('\\Delta ')" >Δ(判别式)
</button><button type="button" class="anniu" onclick="cha('\\alpha ')" >α
</button><button type="button" class="anniu" onclick="cha('\\beta ')" >β
</button><button type="button" class="anniu" onclick="cha('\\gamma ')" >γ
</button><button type="button" class="anniu" onclick="cha('\\theta ')" >θ
</button><button type="button" class="anniu" onclick="cha('\\lambda ')" >λ
</button><button type="button" class="anniu" onclick="cha('\\veps ')" >ε
</button><button type="button" class="anniu" onclick="cha('\\varphi ')" >φ
</button><button type="button" class="anniu" onclick="cha('\\omega ')" >ω
</button><button type="button" class="anniu" onclick="cha('\\triangle ')" >△(三角形)
</button><button type="button" class="anniu" onclick="cha('\\odot ')" >⊙
</button><button type="button" class="anniu" onclick="cha('\\angle ')" >∠
</button><button type="button" class="anniu" onclick="cha('\\du ')" >°
</button><button type="button" class="anniu" onclick="cha('\\perp ')" >⊥
</button><button type="button" class="anniu" onclick="cha('\\px ')" >//
</button><button type="button" class="anniu" onclick="cha('\\sim ')" >相似
</button><button type="button" class="anniu" onclick="cha('\\cong ')" >全等
</button><button type="button" class="anniu" onclick="cha('\\pqd ')" >平行且等于
</button><button type="button" class="anniu" onclick="cha('\\buji ')" >补集
</button><button type="button" class="anniu" onclick="cha('\\kongji ')" >空集
</button><!--<button type="button" class="anniu" onclick="cha('\\mbb{R}')" >R
</button><button type="button" class="anniu" onclick="cha('\\mbb{N}')" >N
</button><button type="button" class="anniu" onclick="cha('\\mbb{Z}')" >Z
</button><button type="button" class="anniu" onclick="cha('\\mbb{Q}')" >Q
</button><button type="button" class="anniu" onclick="cha('\\cup ')" >∪
</button><button type="button" class="anniu" onclick="cha('\\cap ')" >∩
</button><button type="button" class="anniu" onclick="cha('\\subseteq ')" >$\mathstrut{\subseteq}$
</button><button type="button" class="anniu" onclick="cha('\\supseteq ')" >$\mathstrut{\supseteq}$
</button><button type="button" class="anniu" onclick="cha('\\subsetneqq ')" >$\mathstrut{\subsetneqq}$
</button><button type="button" class="anniu" onclick="cha('\\supsetneqq ')" >$\mathstrut{\supsetneqq}$
</button>-->
</div>

<div id="outputWrap">
<div id="output">
  <textarea id="outputText" rows="15">
  </textarea>
</div>

</div>

<div id="outputWrap">
<%= link_to 'Back', problems_path %>
<div id="show_image" class="row">
   <div class="colummns large-12">
     <div class="row">
     <div class="large-4 columns">
       <br/>
       <ul id="photos_clearing" class="clearing-thumbs" data-clearing>
         <div id="image_urls">
           <% if @problem.image_urls %>
           <strong>Problem Images:</strong> <br>
           <% @problem.image_urls.each do |image_url| %>
             <% image_size = (300/@problem.image_urls.size).to_s + "x" + (200/@problem.image_urls.size).to_s %>
             <%= image_tag(image_url, size: image_size) %>
           <% end %>
           <% end %>
         </div>
       </ul>
       <br/>
     </div>
   </div>
   </div>
</div>

<div id="show_answer_image" class="row">
   <div class="colummns large-12">
     <div class="row">
     <div class="large-4 columns">
       <br/>
       <div id="answer_image_placeholder" >
         <div id="image_urls">
           <% if @problem.answers %>
           <strong>Answers:</strong>
           <% index = 1 %>
           <% @problem.answers.each do |answer| %>
               <% if answer.image_urls  %>
                 <%= label_tag 'Answer_' + index.to_s + '_Images:' %>
                 <ul id=' + answer_image_id + ' class="clearing-thumbs" data-clearing>'
                 <% image_size = (300/answer.image_urls.size).to_s + "x" + (200/answer.image_urls.size).to_s %>
                 <% answer.image_urls.each do |image_url| %>
                   <% answer_image_id = "answer_" + index.to_s + "_images"; %>
                   <%= image_tag(image_url, id: answer_image_id, size: image_size) %>
                 <% end %>
               <% end %>
               </ul>
               <% index = index + 1 %>
           <% end %>
           <% end %>
         </div>
       </div>
       <br/>
     </div>
   </div>
   </div>
</div>

<div style="display: none;" id="new_answer_form">
    <%= render partial: "problem_answer", locals: {index: $myvar } %>
</div>
