<p id="notice"><%= notice %></p>

<h1>Listing Problems</h1>

<table>
<% @problems.each do |problem|%>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td class="list_description">
      <dl>
        <% if problem.normalized_problem_text %>
        <dt><%= problem.normalized_problem_text.html_safe %></dt>
        <% else %>
        <dt><%= problem.problem_text.html_safe %></dt>
        <% end %>
      </dl>
    </td>
    <td>
      <% if problem.image_urls %>
      <% problem.image_urls.each do |url| %>
      <%= image_tag(url, class: 'list_image') %>
      <% end %>
      <% end %>
    </td>

    <td class="list_actions">
      <%= link_to 'Show', problem%><br/>
      <%= link_to 'Edit', edit_problem_path(problem) %><br/>
      <%= link_to 'Destroy', problem, method: :delete,
                   data: { confirm: 'Deleted?' } %>
    </td>
  </tr>
  <% end %>
</table>

<br>
<table>
  <tr>
    <td>
      <div id="source">
      \begin{align}
        (x+1)^2
      	&\cssId{Step1}{\class{steps}{= (x+1)(x+1)}}\\
      	&\cssId{Step2}{\class{steps}{= x(x+1) + 1(x+1)}}\\
      	&\cssId{Step3}{\class{steps}{= (x^2+x) + (x+1)}}\\
      	&\cssId{Step4}{\class{steps}{= x^2 + (x + x) + 1}}\\
      	&\cssId{Step5}{\class{steps}{= x^2+2x+1}}\\
      \end{align}
      </div>
    </td>

    <td>
      <div id = "myDiv" >
              \begin{align}
              & a \\
              & b \\
              & c \\
              & d \\
              & e \\
              \end{align}
      </div>
    </td>
  </tr>
</table>
<br>
  <div id="dialog-form" title="解题分析">
    <div id = "KP">
    </div>
    <div id = "secondKP">
    </div>

    <script>

    // $('#kpSelection').on("change", function(){
    //   var value = $("#kpSelection option:selected" ).val();
    //   alert("selected: " + value)
    //   // alert("changed value:" + value)
    //   // if (value == "") return;
    //   //
    //   // $.ajax({
    //   //     type:'GET',
    //   //     dataType:"json",
    //   //     url:'/knowledge_points/'+ value + '/all_children' ,
    //   //
    //   //     success:function(data){
    //   //       //I assume you want to do something on controller action execution success?
    //   //       // alert("data:" + JSON.stringify(data))
    //   //       populate_second_KP_form(data)
    //   //     }
    //   //   });
    // });


    $.ajax({
        type:'GET',
        dataType:"json",
        url:'/knowledge_points/-1/all_children' ,
        success:function(data){
          //I assume you want to do something on controller action execution success?
          // alert("data:" + JSON.stringify(data))
          populate_knowledge_point_form(data)
        }
      });

      function handleOnChange(event){
        alert("event: " + event)
        var value = $("#kpSelection option:selected" ).val();
        alert("selected: " + value)
      }


      function populate_knowledge_point_form(data){
        var html = '<div> <p> 知识点 </p>';
        html += '<select id="kpSelection">';
        for (var i=0; i < data.length; i++) {
          html += '<option value ="' + data[i].id + '\">' + data[i].name + '</option>';
        }
        html += '</select></div>'
        $("#KP").append(html);
      }

      function populate_second_KP_form(data){
        var html = '<div> <p> 二级知识点 </p>';
        html += '<select id="secondKPSelection">';
        for (var i=0; i < data.length; i++) {
          html += '<option value ="' + data[i].id + '\">' + data[i].name + '</option>';
        }
        html += '</select></div>'
        $("#secondKP").append(html);
      }

      $('#kpSelection').onchange = handleOnChange
    </script>
  </div>

  <div id = "myTarget" >
    <h1> Clicked on: </h1>
  </div>

<br>
<%= link_to 'New Problem', new_problem_path %>
