<p id="notice"><%= notice %></p>

<p>
<div id="problem_text">
  <strong>Problem Text:</strong>
  <% if @problem.normalized_problem_text %>
  <dt><%= @problem.normalized_problem_text.html_safe %></dt>
  <% else %>
  <dt><%= @problem.problem_text.html_safe %></dt>
  <% end %>
</dov>
</p>


<p>
  <% if @problem.image_urls %>
  <strong>Images:</strong>
  <% @problem.image_urls.each do |image_url| %>
    <% image_size = (300/@problem.image_urls.size).to_s + "x" + (200/@problem.image_urls.size).to_s %>
    <%= image_tag(image_url, size: image_size) %>
  <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
