<p id="notice"><%= notice %></p>

<p>
  <strong>Problem Text:</strong>
  <%= @problem.problem_text %>
</p>


<p>
  <% if @problem.image_urls %>
  <strong>Images:</strong>
  <% @problem.image_urls.split(",").each do |url| %>
  <%= image_tag(url, class: 'list_image') %>
  <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>


<script language="javascript" type="text/javascript">setTimeout("location.reload();",20000);</script>
