<p id="notice"><%= notice %></p>

<p>
<div id="problem_text">
  <strong>Problem Text:</strong>
  <% if @problem.normalized_problem_text %>
  <dt><%= @problem.normalized_problem_text.html_safe %></dt>
  <% else %>
  <dt><%= @problem.problem_text.html_safe %></dt>
  <% end %>
</dov>
</p>


<p>
  <% if @problem.image_urls %>
  <strong>Images:</strong>
  <% @problem.image_urls.split(",").each do |url| %>
  <%= image_tag(url, class: 'list_image') %>
  <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_problem_path(@problem) %> |
<%= link_to 'Back', problems_path %>
