<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @knowledge_point.name %>
</p>

<p>
  <strong>parent:</strong>
  <%= @knowledge_point.parent_name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @knowledge_point.level %>
</p>


<%= link_to 'Edit', edit_knowledge_point_path(@knowledge_point) %> |
<%= link_to 'Back', knowledge_points_path %>


<script language="javascript" type="text/javascript">setTimeout("location.reload();",20000);</script>
