<div class="tagContentForm">
  <strong> Tag_myvar_</strong>
  <table style="width:100%; table-layout: fixed;">
     <tr>
       <td width="10%"><%= label_tag "Name:"%></td>
       <td ><%= text_field_tag "tag_name_myvar_" %></td>
       <td></td>
     </tr>
     <tr>
       <td width="5%"><%= label_tag "Tag Math Description:"%></td>
       <td width="50%"><%= text_area_tag "tag_alias_text_myvar_", nil, rows: 10, style: "width:100%", id: "tag_alias_text_myvar_"%></td>
       <td width="45%"><div id="tag_alias_output_myvar_"> </div></td>
     </tr>
  </table>

  <%= link_to "X", "#", :onclick => "removeChoice($(this)) && doPreview()", :class => "remove-choice", :id => "X_myvar_" %>
</div>
