<h1>Editing Tag</h1>


<%= form_for @tag, url: {action: "update"} do |f| %>
  <table style="width:100%">
     <tr>
       <td><%= f.label "Name:"%></td>
       <td><%= f.text_field :name %></td>
       <td></td>
     </tr>
     <tr>
       <td><%= f.label "Tag Math Description:"%></td>
       <td><%= f.text_area :alias, rows: 5, style: "width:90%", id: "tag_alias_text_1" %></td>
       <td><div id="tag_alias_output_1"> </div></td>
     </tr>
     <tr>
       <td><%= f.label "Memo:"%></td>
       <td><%= f.text_field :memo %></td>
       <td></td>
     </tr>
     <tr>
       <td></td>
       <% if (@tag.parent_id) %>
       <% parent_id_value = @tag.parent_id %>
       <% else %>
       <% parent_id_value = -1 %>
       <% end %>
       <td><%= f.hidden_field :parent_id, :value => parent_id_value %></td>
       <td></td>
     </tr>
     <tr>
       <td></td>
       <% if (@tag.parent_name) %>
       <% parent_name_value = @tag.parent_name %>
       <% else %>
       <% parent_name_value = "" %>
       <% end %>
       <td><%= f.hidden_field :parent_name, :value => parent_name_value %></td>
       <td></td>
     </tr>
     <tr>
       <td></td>
       <td><%= f.hidden_field :level %></td>
       <td></td>
     </tr>
  </table>
  <%= f.submit "Update" %>
<% end %>


<%= link_to 'Show', @tag %> |
<%= link_to 'Back', tags_path %>

<script>
  $(document).on("ready", function() {
    $("#tag_alias_text_1").keyup(doPreview);
  });

</script>
